<div class="ui red three menu">
  <div class="item">
    <img class="ui mini circular image" src="https://api.adorable.io/avatars/32/abott@adorable.png">
    <div class="content text-padding-left">
      <div class="ui sub header">Kitty</div>
      Welcome
    </div>
  </div>
  <a class="teal item">
    Home
    <div class="ui teal left pointing label">1</div>
  </a>
  <a class="item">
    Community
    <div class="ui label">51</div>
  </a>
  <a class="item">
    Blog
    <div class="ui label">1</div>
  </a>
  <div class="item right">
    <div class="ui transparent icon input">
      <input type="text" placeholder="Search...">
      <i class="search icon"></i>
    </div>
  </div>
  <a class="ui item ">
    Logout
  </a>
</div>